{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="centered">
    <div class="gallery">
        <div class="grid">
            {% for art in artworks %}
            {% if not art.thumbnail %}
            <a href="{{art.get_absolute_url}}"><div class="item"><img src="{{art.image.url}}" alt="img1" srcset=""></div></a>

            {% else %}
            <a href="{{art.get_absolute_url}}"><div class="item"><img src="{{art.thumbnail.url}}" alt="img1" srcset=""></div></a>

            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}


{% block script %}
<script src="{% static 'js/commissions.js' %}"></script>
{% endblock script %}